@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-50 text-slate-800 antialiased;
}

.dark body {
  @apply bg-slate-950 text-slate-200;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(203 213 225);
  border-radius: 8px;
}
.dark ::-webkit-scrollbar-thumb {
  background-color: rgb(51 65 85);
}

* {
  transition-property: background-color, border-color, color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}
